{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">

        <div class="home">

            <div class="home__galleries-container">
                {% include 'partials/home-galleries-lazy-load.html.twig' %}
            </div>

            <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-primary home__lazy-load-cta">
                    Load more
                </a>
            </div>

        </div>

    </div>

{% endblock %}